@media screen and (max-width:768px) {

    .body-index{ 
        background-color: black;
        
     } 
     
     .presentacion-nueva{
         display:flex;
         
         
        
     
         .logo{
             margin-top: 180px;
             width: 200px;
             height:200px;
             
         }

         .fondo{
            width: 200px;
            height: 500px;
         }

        }

        
        ul  {
            display: flex;
            padding: 10px; 
            background-color: black;
             gap: 3px; 
            margin-top: 130px;
            
            
           
        
            li a{
                color: white;
                font-size: 14px;
                text-decoration: none;
                padding: 3px;
                margin-left: 20px;
               
                
                
        
                &:hover{
                    color:coral;
                }
            }
        } 

/* presentacion */

/* body-historia */

.body-historia{
    background-color: black;
}

/* titulo */

.animate__animated{
    font-size: 30px;
    color:white;
    text-align: center;
    animation-duration: 3s;
    margin: 20px;
}

.historia{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    background-color:darksalmon;
    width: 380px;
    height: auto;
    margin: auto;
    margin-bottom: 30px;
    border: solid 3px white;
    margin-top: 100px;



    img{
        width: 100%;
        height: auto;
        max-width: 200px;
        
    }

    h1{
        font-size: 10px;
        text-align: center;
        padding: 10px;
        
    }
}

.body-proyectos{
    background-color: white;
 }

/* titulo */

.animate__flipInY{
    color: black;
    font-size: 40px;
}

.proyectos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 60px;
    

    .proy-2{
        
        img{ 
           
             width: 100px;
             height: auto;
             border-radius: 20px;
             margin-left: 60px; 
            border: 3px solid lightcoral;
            
        }

    
        
        
        p{
            font-size: 15px;
            text-align: center;
            padding: 10px;
            margin-top: 30px; }
            
        

         
         h3{   font-size: 10px;
            text-align: center;
            padding: 15px;
            color:deeppink;

            a{
                text-decoration: none;
                color:deeppink;
            }
        }
    } 

.proy-3 {
    .desk{
    
        width: 150px;
        height: 100px;
        margin: 10px;
        border-radius: 20px;
        
        
        border: solid rgb(65, 64, 64) 2px;
        
        &:hover{
            transform: scale(1.3);
            transition: all 1s;
        }}

  .mob{
    display: none;

  }

} 


}


/* CV */

.img-cv{
    background-color: black;
 img{
    width: 100%;
    height: auto;
    max-width: 400px;
    margin-left: 10px;
    
}
}


}